<%-include("header")-%>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Crazy Games</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Popular</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Catagories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Shooter</a>
          <a class="dropdown-item" href="#">Sports</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Racing</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </div>
</nav>

<!-- *Game Section -->
<div class="game-message">
  <h1>Games</h1>
  <p>*There are some ads on a few of the games and I can't control that since I dont own the games, my bad.</p>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3 card">
      <img src="images/download.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h2 class="card-text">Run 3</h2>
        <form action="/game" method="POST">
          <button class="btn btn-lg btn-dark" name="button" value="0">
            Play
          </button>
        </form>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3 card ">
      <img src="images/maxresdefault.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h2 class="card-text">Sword and Souls</h2>
        <form action="/game" method="POST">
          <button class="btn btn-lg btn-dark" name="button" value="1">
            Play
          </button>
        </form>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3 card ">
      <img src="images/Jacksmith.webp" class="card-img-top" alt="..." />
      <div class="card-body">
        <h2 class="card-text">JackSmith</h2>
        <form action="/game" method="POST">
          <button class="btn btn-lg btn-dark" name="button" value="2">
            Play
          </button>
        </form>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3 card ">
      <img src="images/PapasScoop.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h2 class="card-text">Papas Scooperia</h2>
        <form action="/game" method="POST">
          <button class="btn btn-lg btn-dark" name="button" value="3">
            Play
          </button>
        </form>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3 card ">
      <img src="images/ball.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h2 class="card-text">8 ball pool</h2>
        <form action="/game" method="POST">
          <button class="btn btn-lg btn-dark" name="button" value="4">
            Play
          </button>
        </form>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3 card ">
      <img src="images/dragon.webp" class="card-img-top" alt="..." />
      <div class="card-body">
        <h2 class="card-text">Dragon Simulator</h2>
        <form action="/game" method="POST">
          <button class="btn btn-lg btn-dark" name="button" value="5">
            Play
          </button>
        </form>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3 card ">
      <img src="images/dogeminer.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h2 class="card-text">DogeMiner 2</h2>
        <form action="/game" method="POST">
          <button class="btn btn-lg btn-dark" name="button" value="6">
            Play
          </button>
        </form>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3 card ">
      <img src="images/heroes.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h2 class="card-text">Strike Force Heroes</h2>
        <form action="/game" method="POST">
          <button class="btn btn-lg btn-dark" name="button" value="7">
            Play
          </button>
        </form>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3 card ">
      <img src="images/stickman.webp" class="card-img-top" alt="..." />
      <div class="card-body">
        <h2 class="card-text">Stickman Prison</h2>
        <form action="/game" method="POST">
          <button class="btn btn-lg btn-dark" name="button" value="8">
            Play
          </button>
        </form>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3 card ">
      <img src="images/curveball.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h2 class="card-text">Curve Ball</h2>
        <form action="/game" method="POST">
          <button class="btn btn-lg btn-dark" name="button" value="9">
            Play
          </button>
        </form>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3 card ">
      <img src="images/sticktennis.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h2 class="card-text">Stickman Tennis</h2>
        <form action="/game" method="POST">
          <button class="btn btn-lg btn-dark" name="button" value="10">
            Play
          </button>
        </form>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3 card ">
      <img src="images/soccer-heads.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h2 class="card-text">Soccer Heads</h2>
        <form action="/game" method="POST">
          <button class="btn btn-lg btn-dark" name="button" value="11">
            Play
          </button>
        </form>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3 card ">
      <img src="images/zombsroyale.webp" class="card-img-top" alt="..." />
      <div class="card-body">
        <h2 class="card-text">Zombs Royale</h2>
        <form action="/game" method="POST">
          <button class="btn btn-lg btn-dark" name="button" value="12">
            Play
          </button>
        </form>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3 card ">
      <img src="images/bulletforce.webp" class="card-img-top" alt="..." />
      <div class="card-body">
        <h2 class="card-text">Bullet Force</h2>
        <form action="/game" method="POST">
          <button class="btn btn-lg btn-dark" name="button" value="13">
            Play
          </button>
        </form>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3 card ">
      <img src="images/slitherio.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h2 class="card-text">Slither.io</h2>
        <form action="/game" method="POST">
          <button class="btn btn-lg btn-dark" name="button" value="14">
            Play
          </button>
        </form>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3 card ">
      <img src="images/derbycrash.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h2 class="card-text">Derby Crash 2</h2>
        <form action="/game" method="POST">
          <button class="btn btn-lg btn-dark" name="button" value="15">
            Play
          </button>
        </form>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3 card ">
      <img src="images/bloonstd5.webp" class="card-img-top" alt="..." />
      <div class="card-body">
        <h2 class="card-text">Bloons TD5</h2>
        <form action="/game" method="POST">
          <button class="btn btn-lg btn-dark" name="button" value="16">
            Play
          </button>
        </form>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3 card ">
      <img src="images/cuttherope.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h2 class="card-text">Cut the Rope</h2>
        <form action="/game" method="POST">
          <button class="btn btn-lg btn-dark" name="button" value="17">
            Play
          </button>
        </form>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3 card ">
      <img src="images/ducklife4.jpeg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h2 class="card-text">Duck Life 4</h2>
        <form action="/game" method="POST">
          <button class="btn btn-lg btn-dark" name="button" value="18">
            Play
          </button>
        </form>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3 card ">
      <img src="images/2048.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h2 class="card-text">2048</h2>
        <form action="/game" method="POST">
          <button class="btn btn-lg btn-dark" name="button" value="19">
            Play
          </button>
        </form>
      </div>
    </div>

  </div>
</div>

<%-include("footer")-%>