<%-include("header")-%>
<nav class="navbar navbar-expand-lg navbar-light bg-success">
    <a class="navbar-brand nav-name" href="#">Pella Games</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        More
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                    Search

            </form>
        </div>
</nav>

<!-- *Game Section -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3 card">

            <img src="images/download.png" class="card-img-top" alt="..." />
            <div class="card-body">
                <h2 class="card-text">Run 3</h2>
                <form action="/game" method="POST">
                    <button class="btn btn-lg btn-dark" name="button" value="0">Play</button>
                </form>
            </div>

        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 card ">

            <img src="images/maxresdefault.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
                <h2 class="card-text">Sword and Souls</h2>
                <button class="btn btn-lg btn-dark">Play</button>
            </div>

        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 card ">

            <img src="images/Jacksmith.webp" class="card-img-top" alt="..." />
            <div class="card-body">
                <h2 class="card-text">JackSmith</h2>
                <button class="btn btn-lg btn-dark">Play</button>
            </div>

        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 card ">

            <img src="images/PapasScoop.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
                <h2 class="card-text">Papas Scooperia</h2>
                <button class="btn btn-lg btn-dark">Play</button>
            </div>

        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 card ">

            <img src="images/ball.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
                <h2 class="card-text">8 ball pool</h2>
                <button class="btn btn-lg btn-dark">Play</button>
            </div>

        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 card ">

            <img src="images/dragon.webp" class="card-img-top" alt="..." />
            <div class="card-body">
                <h2 class="card-text">Dragon Simulator </h2>
                <button class="btn btn-lg btn-dark">Play</button>
            </div>

        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 card ">

            <img src="images/dogeminer.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
                <h2 class="card-text">DogeMiner 2</h2>
                <button class="btn btn-lg btn-dark">Play</button>
            </div>

        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 card ">

            <img src="images/heroes.png" class="card-img-top" alt="..." />
            <div class="card-body">
                <h2 class="card-text">Strike Force Heroes </h2>
                <button class="btn btn-lg btn-dark">Play</button>
            </div>

        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 card ">

            <img src="images/stickman.webp" class="card-img-top" alt="..." />
            <div class="card-body">
                <h2 class="card-text">Stickman Prison</h2>
                <button class="btn btn-lg btn-dark">Play</button>
            </div>

        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 card ">
            <img src="images/curveball.png" class="card-img-top" alt="..." />
            <div class="card-body">
                <h2 class="card-text">Curve Ball</h2>
                <button class="btn btn-lg btn-dark">Play</button>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 card ">

            <img src="images/sticktennis.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
                <h2 class="card-text">Stickman Tennis</h2>
                <button class="btn btn-lg btn-dark">Play</button>
            </div>

        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 card ">

            <img src="images/soccer-heads.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
                <h2 class="card-text">Soccer Heads</h2>
                <button class="btn btn-lg btn-dark">Play</button>
            </div>

        </div>
    </div>
</div>

<%-include("footer")-%>