/**Global values */

body {
    margin: 0;
    padding: 0;
    height: fit-content;
    background-color: green;
    text-align: center;
}

h1, p {
    color: black;
    font-weight: 900;
}

.container-fluid {
    text-align: center;
}

/* *Navbar sections styles */

.nav-name {
    font-size: 2rem;
    background: -webkit-linear-gradient(green, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* *GAMES */

.card {
    margin-top: 15px;
    padding: 0;
    border: 5px solid green;
}

.card img {
    max-height: 150px;
    width: auto;
}

iframe {
    height: 100vh;
    width: 80.645vw;
}

.game-message {
    text-align: center;
}

.back-btn {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100px;
}

/* *Footer */ 

.view-games{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.view-games .card {
    text-align: center;
    border: none;
}

.game-header{
    display: inline-block; 
    border: 3px solid black;
    margin: 20px; 
}
