body {
    margin: 0;
    padding: 0;
}

.container-fluid {
    text-align: center;
}

/* *Navbar sections styles */

.nav-name {
    font-size: 2rem;
    background: -webkit-linear-gradient(green, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* *GAMES */

/* .games{
    width: 80vw;
} */

.card {
    margin-top: 15px;
    padding: 0;
}

.card img {
    max-height: 150px;
    width: auto;
}